<header class="panel-heading">
    <button class="pull-right close" aria-label="Close" type="button">
        <span class="sl-icon-close">Close</span>
    </button>

    <span class="title">
        {{yield}}
    </span>
</header>
