<tr>
    {{#each columns as |column index|}}
        <td>
            {{#if hasBlock}}
                {{yield
                    (hash
                        cell=(component 'sl-grid-column-header'
                            sortable=column.sortable
                            sorted=column.sorted
                            class=column.headerClass
                            column=column
                            onClick=sortColumn
                        )
                    )
                    column
                    index
                }}
            {{else}}
                {{sl-grid-column-header
                    sortable=column.sortable
                    sorted=column.sorted
                    class=column.headerClass
                    column=column
                    onClick=sortColumn
                }}
            {{/if}}
        </td>
    {{/each}}
</tr>
